snippet import
  #include <bits/stdc++.h>
  // #include "../dbg.hpp"
  using namespace std;
  #define REOPEN_READ freopen("/home/maritns3/test/cpp/input.txt", "r", stdin);
  int main(int argc, char *argv[]){
    ${0}
  	return 0;
  }
