priority -50

snippet lpr "linux kernel debug"
pr_info("huxueshi:%s ${0}\n", __FUNCTION__);
endsnippet

snippet qpr "qemu debug"
printf("huxueshi:%s ${0}\n", __FUNCTION__);
endsnippet

snippet qgdb "qemu gdb debug stub"
void huxueshi(void);
void huxueshi(void){
	printf("huxueshi:%s \n", __FUNCTION__);
}
endsnippet

snippet seapr "seabios debug"
dprintf(1, "huxueshi:%s ${0}\n", __FUNCTION__);
endsnippet

snippet dpr "duck debug"
duck_printf("huxueshi:%s ${0}\n", __FUNCTION__);
endsnippet
