priority -50

snippet code "C snip"
\`\`\`c
${0}
\`\`\`
endsnippet

snippet blogComment "add blog comment"
<script src="https://utteranc.es/client.js" repo="Martins3/Martins3.github.io" issue-term="url" theme="github-light" crossorigin="anonymous" async> </script>

本站所有文章转发 **CSDN** 将按侵权追究法律责任，其它情况随意。
endsnippet
