.ccls-cache
plugin
.vim-bookmarks
.DS_Store
.stfolder
.syncthing.*
history.txt

# Kernel Module Compile Results
*.mod*
*.cmd
*.ko
*.o
*.o.d
*.out
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
compile_commands.json

.direnv
.envrc

.clang-format
kernel/guest/default.nix
.luarc.json
lazy-lock.json

perf.data
perf.data.old
.bash_history
*.qcow2
__pycache__
kernel/module/.gdb_history

.nvim
