priority -50

snippet lpr
  pr_info("[huxueshi:%s:%d] ${0}\n", __FUNCTION__, __LINE__);

snippet qpr
  printf("[huxueshi:%s:%d] ${0}\n", __FUNCTION__, __LINE__);

snippet qgdb
  void huxueshi(void);
  void huxueshi(void){
  	printf("huxueshi\n");
  }

snippet seapr
  dprintf(1, "[huxueshi:%s:%d] ${0}\n", __FUNCTION__, __LINE__);

snippet Cimport
