session_name: code
windows:
  - window_name: linux
    layout: tiled
    shell_command_before:
      - cd ~/data/linux
      - mkdir -p /tmp/martins3/nvim/ && nvim --listen /tmp/martins3/nvim/$(uuidgen)
  # 必须定义两个 window ，否则 tmux status line 存在 no previous window 的警告
  - window_name: lab
    layout: tiled
    shell_command_before:
      - cd /tmp
